mixin Title(title,tag,Class)
    #{tag}(class="fade-class "+Class+""  data-scroll data-scroll-class="is-in-view" data-scroll-repeat=true) #{title}
mixin Text(title,Class)
    p(class="text-link fade-class "+Class+""   data-scroll data-scroll-class="is-in-view" data-scroll-repeat=true) #{title}     
mixin Link(title,url)
    a(href=url class="text-link link_underline active") #{title}
